In [23]:
import pandas as pd
import numpy as np

In [24]:
pd.Series?

In [13]:
#pandas series is a special numpy array
# Labels need not be unique but must be a hashable type. The object
# supports both integer- and label-based indexing and provides a host of
# methods for performing operations involving the index. Statistical
# methods from ndarray have been overridden to automatically exclude
# missing data (currently represented as NaN).
x=pd.Series(data=[1,2,3,4])
print("print x\n",x)
x.values

print x
 0    1
1    2
2    3
3    4
dtype: int64

array([1, 2, 3, 4], dtype=int64)

In [18]:
x=pd.Series(data=[1,2,3,4],index=["a","b","c","d"])
print("print x\n",x)
x=pd.Series(data=[1,2,3,4],index=[2,5,6,7])
print("print x\n",x)

print x
 a    1
b    2
c    3
d    4
dtype: int64
print x
 2    1
5    2
6    3
7    4
dtype: int64

In [26]:
d={"Qianghui":100,"Jack":99}
x=pd.Series(d)
print("print x\n",x)

print x
 Qianghui    100
Jack         99
dtype: int64

In [28]:
arr=np.array([1,2,3])
pd.Series(arr)

0    1
1    2
2    3
dtype: int32

In [32]:
pd.DataFrame?
# Two-dimensional size-mutable, potentially heterogeneous tabular data
# structure with labeled axes (rows and columns). Arithmetic operations
# align on both row and column labels. Can be thought of as a dict-like
# container for Series objects.

In [34]:
#DataFrame from dict-like container for Pd.Series
population_dict={"FuJian":100,"Hunan":110}
area_dict={"FuJian":1,"Hunan":2}
population=pd.Series(population_dict)
area=pd.Series(area_dict)
pd.DataFrame({"population":population,"area":area})

        population  area
FuJian         100     1
Hunan          110     2

In [37]:
#DataFrame from dict-like container for python list
# data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
#     Dict can contain Series, arrays, constants, or list-like objects
population_list=[100,110]
area_list=[1,2]
pd.DataFrame({"population":population_list,"area":area_list})

   population  area
0         100     1
1         110     2

In [40]:
# pd.DataFrame from numpy two-dimensional array
x=np.random.randint(0,10,size=(3,3))
pd.DataFrame(x,columns=["a","b","c"],index=[0,1,2])

   a  b  c
0  8  1  6
1  0  6  5
2  0  4  7

In [47]:
#DataFrame from numpy structured matrox
type1=[("name",(np.str,10)),("age",np.int)]
x=np.ones(5,dtype=type1)
pd.DataFrame(x)

  name  age
0    1    1
1    1    1
2    1    1
3    1    1
4    1    1